@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  font-family: "Inter Var";
  scroll-behavior: smooth;
}

.scrollContainer::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.scrollContainer::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollContainer::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 500px;
}

/* Handle on hover */
.scrollContainer::-webkit-scrollbar-thumb:hover {
  background: #bdbbbb;
}
